<div>
    <!-- 修改密码 -->
    <div class="centre-title">
        <h3>修改密码</h3>
    </div>
    <div class="password-main">
        <form id="pwdFrm" name="pwdFrm">
            <div class="password-list">
                <input type="password" ng-model="password.old" name="oldPwd" id="oldPwd" required pattern="^\w{6,12}$" placeholder="请输入旧密码"/>
                <span class="pwd-error" ng-show="pwdFrm.oldPwd.$dirty && pwdFrm.oldPwd.$error.required">旧密码不能为空!</span>
                <span class="pwd-error"  ng-show="pwdFrm.oldPwd.$dirty && pwdFrm.oldPwd.$error.pattern">旧密码格式不正确!</span>
            </div>
            <div class="password-list">
                <input type="password" id="newPwd" ng-model="password.new" name="newPwd" pattern="^\w{6,12}$" required placeholder="请输入新密码"/>
                <span class="pwd-error" ng-show="pwdFrm.newPwd.$dirty && pwdFrm.newPwd.$error.required">旧密码不能为空!</span>
                <span class="pwd-error"  ng-show="pwdFrm.newPwd.$dirty && pwdFrm.newPwd.$error.pattern">旧密码格式不正确!</span>
            </div>
            <div class="password-list">
                <input type="password" id="confimPwd" ng-model="password.confirm" required name="confimPwd" pattern="^\w{6,12}$" placeholder="请输入确认密码"/>
                <span class="pwd-error"  ng-show="pwdFrm.confimPwd.$dirty &&password.new!=password.confirm">两次密码不匹配!</span>
            </div>
            <span class="password-error" ng-show="passwordError">旧密码不正确！</span>
            <button id="pwdSave" ng-disabled="(password.new!=password.confirm)&&!frm.$valid" ng-click="pwdSave();">保存</button>
        </form>
    </div>
</div>