<div>
    <div class="message-top">
        <h2 class="page-header">菜谱信息</h2>
        <button class="btn btn-info addnewBook" ng-click="addMenu();">添加新菜谱</button>
        <input type="text" class="form-control" placeholder="输入菜谱名称、食材" ng-model="searchText">
        <button class="btn btn-info search" ng-click="search();">查询</button>
        <select class="btn" ng-options="item.name for item in menuType" ng-model="typeId" ng-change="serarchFood();"></select>
        <select class="btn" ng-options="item.name for item in menuArea" ng-model="areaId" ng-change="serarchFood();"></select>

        <div class="group">
            <div ng-repeat="item in pageList" class="group-item">
                <div  class="item-header">
                    <img ng-src="{{item.covers[0]}}">
                </div>
                <div class="item-content">
                    <span>菜名:{{item.name}}</span>
                    <span>类型:{{item.typeName}}</span>
                    <span>地区:{{item.areaName}}</span>
                    <span>赞数:{{item.likecount}}</span>
                </div>
                <div class="item-footer">
                    <button class="btn btn-info" ng-click="editMenu(item.id);">编辑</button>
                </div>
            </div>
        </div>
        <page-nav conf="pageMessage" page="btnPage();"></page-nav>

    </div>
</div>