<div>
    <div class="message-top">
        <h2 class="page-header">栏目分类</h2>
        <button class="btn btn-info" id="addSongerList" data-toggle="modal" data-target="#myModal" ng-click="addSection();">添加新分类</button>
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <td>序号</td>
                <td>栏目名称</td>
                <td>操作</td>
            </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in section | orderBy:'-Priority'">
                    <td>{{$index+1}}</td>
                    <td>{{item.name}}</td>
                    <td>
                        <button class="btn btn-info" data-toggle="modal" data-target="#myModal" ng-click="editSection(item.id,item.name);">编辑</button>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="modal fade"  id="myModal" tabindex="-1"  role="dialog" aria-labelledby="gridSystemModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancelMesage();"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="gridSystemModalLabel">栏目类别</h4>
                    </div>
                    <div class="modal-body">
                        <div>
                            <label>栏目类别：</label>
                            <input type="text" ng-model="modal.categoryName">
                            <span class="text-danger" ng-show="modal.isVacancy">栏目类别不能为空!</span>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default"  data-dismiss="modal" ng-click="cancelMesage();">关闭</button>
                        <button type="button" class="btn btn-primary" ng-click="saveSection();">保存</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    </div>
</div>